API_VERSION="v1"
ENABLE_READ_AUDITS="False"
RORC_PORT=8000
ROBIN_APP_TEMPLATE="/.robin/scripts/app/rflow.tpl"
RORC_DEFAULT_ETYPE="switch"
RORC_DEFAULT_FUNCTION="changeme"
ROBIN_RPOOL="default"

OSS_URL="http://localhost"
OSS_USERNAME="test"
OSS_PASSWORD="test"
HTTPS="false"
MDCAP_ENGINE_URL="http://localhost:8000"
MDCAP_LOG_URL="http://localhost:8000"

TRIGGER_BATCH_SIZE=100
TRIGGER_GC_APP_BATCH_SIZE=25
SANIC_REQUEST_MAX_SIZE=1000000000
SANIC_RESPONSE_TIMEOUT=120

